<html><title>Fuel Report</title><body><tbody><table>
		<tr>
			<th> Price </th><th> Brand </th><th> Address </th><th> Location </th><th> Day </th>
		</th>
            <tr>
                <td>101.7 </td><td>7-Eleven </td><td>8 Mullingar Way </td><td>LANDSDALE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>101.7 </td><td>7-Eleven </td><td>79 Gnangara Rd </td><td>WANGARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>101.7 </td><td>7-Eleven </td><td>990 Wanneroo Rd </td><td>WANNEROO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>101.7 </td><td>7-Eleven </td><td>929-931 Wanneroo Rd </td><td>WANNEROO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>101.9 </td><td>United </td><td>479 Scarborough Beach Rd </td><td>OSBORNE PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>335 Collier Rd (Cnr Fairford St) </td><td>BASSENDEAN </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>3 Locke Lane </td><td>ELLENBROOK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>779 Gnangara Rd </td><td>LEXIA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>791 Beaufort St </td><td>MT LAWLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>2038 Wanneroo Rd </td><td>NEERABUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>31 Fitzgerald St </td><td>NORTHBRIDGE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>4 Walter Padbury Bvd (Cnr Hepburn Ave) </td><td>PADBURY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.3 </td><td>United </td><td>121 Quinns Rd (Cnr Tapping Way) </td><td>QUINNS ROCKS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>7-Eleven </td><td>8 Mullingar Way </td><td>LANDSDALE </td><td>today</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>7-Eleven </td><td>79 Gnangara Rd </td><td>WANGARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>7-Eleven </td><td>929-931 Wanneroo Rd </td><td>WANNEROO </td><td>today</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>7-Eleven </td><td>990 Wanneroo Rd </td><td>WANNEROO </td><td>today</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>200 Mirrabooka Ave </td><td>ALEXANDER HEIGHTS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>229 Balcatta Rd </td><td>BALCATTA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>502 Guildford Rd </td><td>BAYSWATER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>8 Repton St </td><td>DAYTON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>61 Walter Rd </td><td>DIANELLA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>7-Eleven </td><td>324 The Broadway </td><td>ELLENBROOK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>220 Gnangara Rd </td><td>GNANGARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>16 Johnson St </td><td>GUILDFORD </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>1 Wishart St (Cnr North Beach Rd) </td><td>GWELUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>49 Candlewood Bvd </td><td>JOONDALUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>157 Morley Dr </td><td>KIARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>182 Wanneroo Rd </td><td>MADELEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>1896 Beach Rd (Cnr Crocker Dr) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>4 Hughie Edwards Dr (Cnr Marmion Ave) </td><td>MERRIWA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>22 Anchorage Dr </td><td>MINDARIE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>81 Guildford Rd </td><td>MT LAWLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>2056 Wanneroo Rd </td><td>NEERABUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>311 Fitzgerald St </td><td>NORTH PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>8 Main St </td><td>OSBORNE PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>204 Shiraz Bvd (Cnr Cabernet Loop) </td><td>PEARSALL </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>1 Brady St (Cnr Ocean Reef Rd) </td><td>WANGARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>951 Wanneroo Rd </td><td>WANNEROO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>1 Ikara Lane (Cnr Kakadu Rd) </td><td>YANCHEP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.7 </td><td>Puma </td><td>86 Flinders St (Cnr Hector St) </td><td>YOKINE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>317 Millhouse Rd </td><td>AVELEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>372 Grand Prom </td><td>DIANELLA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex </td><td>382 Grand Prom </td><td>DIANELLA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>11 Main St (Cnr The Promenade) </td><td>ELLENBROOK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>37 Canham Way (Cnr Wanneroo Rd) </td><td>GREENWOOD </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>470 Whitfords Ave </td><td>HILLARYS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>189 Winton Rd </td><td>JOONDALUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>53 Yirrigan Dr </td><td>MIRRABOOKA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>60 Russell St (Cnr Walter Rd West) </td><td>MORLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>103.9 </td><td>Caltex Woolworths </td><td>401 Scarborough Beach Rd </td><td>OSBORNE PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.3 </td><td>7-Eleven </td><td>302-318 Collier Rd </td><td>BASSENDEAN </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.3 </td><td>7-Eleven </td><td>162 Russell St </td><td>MORLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.3 </td><td>Vibe </td><td>66 Sylvia St </td><td>NOLLAMARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.3 </td><td>Vibe </td><td>427 Charles St </td><td>NORTH PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.5 </td><td>Vibe </td><td>123 Thomas St </td><td>SUBIACO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.7 </td><td>7-Eleven </td><td>174 Balcatta Rd </td><td>BALCATTA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.7 </td><td>7-Eleven </td><td>2131 West Swan Rd </td><td>CAVERSHAM </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.7 </td><td>7-Eleven </td><td>750 Marshall Rd (Cnr Guadalupe Rd) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>7-Eleven </td><td>324 The Broadway </td><td>ELLENBROOK </td><td>today</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>United </td><td>479 Scarborough Beach Rd </td><td>OSBORNE PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex Woolworths </td><td>11 Shorehaven Bvd (Cnr Pacific Prom) </td><td>ALKIMOS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>2 Hollosy Way (Cnr Pinjar Rd) </td><td>ASHBY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>391 Wanneroo Rd </td><td>BALCATTA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>7-Eleven </td><td>102 Princess Rd </td><td>BALGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex Woolworths </td><td>5 Hamelin Dr (Cnr Bellefin Dr) </td><td>BALLAJURA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>7-Eleven </td><td>81 Ghost Gum Bvd </td><td>BANKSIA GROVE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>1001 Joondalup Dr </td><td>BANKSIA GROVE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>495 Beechboro Rd North </td><td>BEECHBORO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>159 Altone Rd (Cnr Hull Way) </td><td>BEECHBORO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>11 Headingly Cr (Cnr Connolly Dr) </td><td>BUTLER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>7-Eleven </td><td>270 Butler Bvd </td><td>BUTLER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>41 Butler Bvd </td><td>BUTLER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>510 Beach Rd (Cnr Duffy Rd) </td><td>CARINE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>269 Stirling Hwy </td><td>CLAREMONT </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>28K Caloundra Rd </td><td>CLARKSON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>7 Ocean Keys Bvd (Cnr Marmion Ave) </td><td>CLARKSON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>Cnr Marmion Ave & Pensacola Tce </td><td>CLARKSON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>2 Sunlander Dr (Cnr Burns Beach Rd) </td><td>CURRAMBINE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex Woolworths </td><td>1244 Marmion Ave (Cnr Shenton Ave) </td><td>CURRAMBINE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>67 Walter Rd West (Cnr Grand Prom) </td><td>DIANELLA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>365 Scarborough Beach Rd </td><td>DOUBLEVIEW </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>193 Warwick Rd (Cnr Glengarry Dr) </td><td>DUNCRAIG </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>68-70 Brown St (Cnr East Pde) </td><td>EAST PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>57 Joondalup Dr </td><td>EDGEWATER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>3 Goodwood Cres </td><td>ELLENBROOK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>484 Walter Rd East </td><td>EMBLETON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex Woolworths </td><td>5 Howtree Pl </td><td>FLOREAT </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>60 Marangaroo Dr </td><td>GIRRAWHEEN </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>2 Jon Sanders Dr (Cnr Harborne St) </td><td>GLENDALOUGH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>490 Karrinyup Rd </td><td>GWELUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>2 Abello Bvd (Cnr Marmion Ave) </td><td>JINDALEE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>6 Jersey St (Cnr Hay St) </td><td>JOLIMONT </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>7-Eleven </td><td>8 Buick Way </td><td>JOONDALUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>Lakeside Joondalup Shopping Centre </td><td>JOONDALUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>190 Karrinyup Rd (Cnr Burroughs Rd) </td><td>KARRINYUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>86 Kingsley Dr </td><td>KINGSLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>Cnr Moolanda Bvd & Hepburn Ave </td><td>KINGSLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>319 Vincent St </td><td>LEEDERVILLE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex Woolworths </td><td>168 Wanneroo Rd (opp Giralt Rd) </td><td>MADELEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>1 Capital Rd (Cnr Alexander Dr) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>76 Malaga Dr (Cnr Truganina Rd) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>492 Alexander Dr (Cnr Truganina Rd) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>296 Benara Rd (Cnr Beechboro Rd North) </td><td>MORLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>257 Walter Rd (Cnr Wellington Rd) </td><td>MORLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>676 Stirling Hwy </td><td>MOSMAN PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>582 Stirling Hwy (Cnr Willis St) </td><td>MOSMAN PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>1-5 Guildford Rd </td><td>MT LAWLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>810 Beaufort St </td><td>MT LAWLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>129 Stirling Hwy </td><td>NEDLANDS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>1 Broadway (Cnr Stirling Hwy) </td><td>NEDLANDS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>40 Benara Rd </td><td>NORANDA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>253 Walcott St (Cnr Fitzgerald St) </td><td>NORTH PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>349 Charles St (Cnr Scarborough Beach Rd) </td><td>NORTH PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>2624 Wanneroo Rd </td><td>NOWERGUP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>6 Marina Bvd (Cnr Marmion Ave) </td><td>OCEAN REEF </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>2 Prendiville Ave (Cnr Marmion Ave) </td><td>OCEAN REEF </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>218 Main St (Cnr Royal St) </td><td>OSBORNE PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>2 Warburton Ave (Cnr Marmion Ave) </td><td>PADBURY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>157 Lord St </td><td>PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>342 Beaufort St (Cnr Bulwer St) </td><td>PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>480 William St </td><td>PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>2 Ridgewood Bvd (Cnr Hester Ave) </td><td>RIDGEWOOD </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>11 Scarborough Beach Rd (Cnr West Coast Hwy) </td><td>SCARBOROUGH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>205 West Coast Hwy </td><td>SCARBOROUGH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>74 Scarborough Beach Rd </td><td>SCARBOROUGH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>128 West Coast Dr </td><td>SORRENTO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>194 Rokeby Rd </td><td>SUBIACO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>1 Niche Pde </td><td>WANGARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>79 Buckingham Dr (Cnr Hartman Dr) </td><td>WANGARA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>621 Wanneroo Rd </td><td>WANNEROO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>274 Erindale Rd </td><td>WARWICK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>240 Cambridge St </td><td>WEMBLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>337 Cambridge St </td><td>WEMBLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Coles Express </td><td>30 Thomas St (Cnr Wellington St) </td><td>WEST PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>6639 West Swan Rd </td><td>WEST SWAN </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>436 Wanneroo Rd </td><td>WESTMINSTER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>BP </td><td>941 Whitfords Ave (Cnr Trappers Dr) </td><td>WOODVALE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>105.9 </td><td>Caltex </td><td>1 Morwell St </td><td>YANCHEP </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>106.9 </td><td>Caltex </td><td>382 Grand Prom </td><td>DIANELLA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>335 Collier Rd (Cnr Fairford St) </td><td>BASSENDEAN </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>3 Locke Lane </td><td>ELLENBROOK </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>779 Gnangara Rd </td><td>LEXIA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>791 Beaufort St </td><td>MT LAWLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>2038 Wanneroo Rd </td><td>NEERABUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>31 Fitzgerald St </td><td>NORTHBRIDGE </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>4 Walter Padbury Bvd (Cnr Hepburn Ave) </td><td>PADBURY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.3 </td><td>United </td><td>121 Quinns Rd (Cnr Tapping Way) </td><td>QUINNS ROCKS </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>7-Eleven </td><td>302-318 Collier Rd </td><td>BASSENDEAN </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>Vibe </td><td>66 Sylvia St </td><td>NOLLAMARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>Vibe </td><td>427 Charles St </td><td>NORTH PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>Better Choice </td><td>3 Carson Rd (Cnr Alexander Dr) </td><td>MALAGA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>Better Choice </td><td>150 Wanneroo Rd </td><td>TUART HILL </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.5 </td><td>BP </td><td>4 Wanneroo Rd </td><td>YOKINE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>7-Eleven </td><td>174 Balcatta Rd </td><td>BALCATTA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>502 Guildford Rd </td><td>BAYSWATER </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>BP </td><td>40 Bennett St </td><td>CAVERSHAM </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>61 Walter Rd </td><td>DIANELLA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>220 Gnangara Rd </td><td>GNANGARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>16 Johnson St </td><td>GUILDFORD </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>49 Candlewood Bvd </td><td>JOONDALUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>182 Wanneroo Rd </td><td>MADELEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>1896 Beach Rd (Cnr Crocker Dr) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>2056 Wanneroo Rd </td><td>NEERABUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>204 Shiraz Bvd (Cnr Cabernet Loop) </td><td>PEARSALL </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>1 Brady St (Cnr Ocean Reef Rd) </td><td>WANGARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>Puma </td><td>951 Wanneroo Rd </td><td>WANNEROO </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>BP </td><td>380 Great Eastern Hwy </td><td>WOODBRIDGE </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>BP </td><td>2 Illawarra Cres North (Cnr Alexander Dr) </td><td>BALLAJURA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>BP </td><td>40 Bennett St </td><td>CAVERSHAM </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.7 </td><td>BP </td><td>380 Great Eastern Hwy </td><td>WOODBRIDGE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>317 Millhouse Rd </td><td>AVELEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>11 Main St (Cnr The Promenade) </td><td>ELLENBROOK </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>37 Canham Way (Cnr Wanneroo Rd) </td><td>GREENWOOD </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>470 Whitfords Ave </td><td>HILLARYS </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>189 Winton Rd </td><td>JOONDALUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>53 Yirrigan Dr </td><td>MIRRABOOKA </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>60 Russell St (Cnr Walter Rd West) </td><td>MORLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>7-Eleven </td><td>162 Russell St </td><td>MORLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>Caltex Woolworths </td><td>401 Scarborough Beach Rd </td><td>OSBORNE PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>107.9 </td><td>BP </td><td>28 Koondoola Ave (Cnr Burbridge Ave) </td><td>KOONDOOLA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>108.7 </td><td>Puma </td><td>4 Hughie Edwards Dr (Cnr Marmion Ave) </td><td>MERRIWA </td><td>today</td>
            </tr>
        
            <tr>
                <td>108.7 </td><td>Puma </td><td>81 Guildford Rd </td><td>MT LAWLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.5 </td><td>Vibe </td><td>123 Thomas St </td><td>SUBIACO </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>200 Mirrabooka Ave </td><td>ALEXANDER HEIGHTS </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>229 Balcatta Rd </td><td>BALCATTA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>BP </td><td>2 Illawarra Cres North (Cnr Alexander Dr) </td><td>BALLAJURA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>8 Repton St </td><td>DAYTON </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>1 Wishart St (Cnr North Beach Rd) </td><td>GWELUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>157 Morley Dr </td><td>KIARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>7-Eleven </td><td>750 Marshall Rd (Cnr Guadalupe Rd) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>22 Anchorage Dr </td><td>MINDARIE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>311 Fitzgerald St </td><td>NORTH PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>8 Main St </td><td>OSBORNE PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>1 Ikara Lane (Cnr Kakadu Rd) </td><td>YANCHEP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.7 </td><td>Puma </td><td>86 Flinders St (Cnr Hector St) </td><td>YOKINE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>11 Shorehaven Bvd (Cnr Pacific Prom) </td><td>ALKIMOS </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>2 Hollosy Way (Cnr Pinjar Rd) </td><td>ASHBY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>391 Wanneroo Rd </td><td>BALCATTA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>7-Eleven </td><td>102 Princess Rd </td><td>BALGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>5 Hamelin Dr (Cnr Bellefin Dr) </td><td>BALLAJURA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>7-Eleven </td><td>81 Ghost Gum Bvd </td><td>BANKSIA GROVE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>1001 Joondalup Dr </td><td>BANKSIA GROVE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>495 Beechboro Rd North </td><td>BEECHBORO </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>159 Altone Rd (Cnr Hull Way) </td><td>BEECHBORO </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>11 Headingly Cr (Cnr Connolly Dr) </td><td>BUTLER </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>41 Butler Bvd </td><td>BUTLER </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>7-Eleven </td><td>270 Butler Bvd </td><td>BUTLER </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>510 Beach Rd (Cnr Duffy Rd) </td><td>CARINE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>7-Eleven </td><td>2131 West Swan Rd </td><td>CAVERSHAM </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>269 Stirling Hwy </td><td>CLAREMONT </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>Cnr Marmion Ave & Pensacola Tce </td><td>CLARKSON </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>7 Ocean Keys Bvd (Cnr Marmion Ave) </td><td>CLARKSON </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>1244 Marmion Ave (Cnr Shenton Ave) </td><td>CURRAMBINE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>67 Walter Rd West (Cnr Grand Prom) </td><td>DIANELLA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>372 Grand Prom </td><td>DIANELLA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>365 Scarborough Beach Rd </td><td>DOUBLEVIEW </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>193 Warwick Rd (Cnr Glengarry Dr) </td><td>DUNCRAIG </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>57 Joondalup Dr </td><td>EDGEWATER </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>3 Goodwood Cres </td><td>ELLENBROOK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>484 Walter Rd East </td><td>EMBLETON </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>5 Howtree Pl </td><td>FLOREAT </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>60 Marangaroo Dr </td><td>GIRRAWHEEN </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>2 Jon Sanders Dr (Cnr Harborne St) </td><td>GLENDALOUGH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>490 Karrinyup Rd </td><td>GWELUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>6 Jersey St (Cnr Hay St) </td><td>JOLIMONT </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>7-Eleven </td><td>8 Buick Way </td><td>JOONDALUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>Lakeside Joondalup Shopping Centre </td><td>JOONDALUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>190 Karrinyup Rd (Cnr Burroughs Rd) </td><td>KARRINYUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>Cnr Moolanda Bvd & Hepburn Ave </td><td>KINGSLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>86 Kingsley Dr </td><td>KINGSLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>28 Koondoola Ave (Cnr Burbridge Ave) </td><td>KOONDOOLA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>319 Vincent St </td><td>LEEDERVILLE </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex Woolworths </td><td>168 Wanneroo Rd (opp Giralt Rd) </td><td>MADELEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>492 Alexander Dr (Cnr Truganina Rd) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>76 Malaga Dr (Cnr Truganina Rd) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>1 Capital Rd (Cnr Alexander Dr) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>257 Walter Rd (Cnr Wellington Rd) </td><td>MORLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>296 Benara Rd (Cnr Beechboro Rd North) </td><td>MORLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>676 Stirling Hwy </td><td>MOSMAN PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>582 Stirling Hwy (Cnr Willis St) </td><td>MOSMAN PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>1-5 Guildford Rd </td><td>MT LAWLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>810 Beaufort St </td><td>MT LAWLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>1 Broadway (Cnr Stirling Hwy) </td><td>NEDLANDS </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>349 Charles St (Cnr Scarborough Beach Rd) </td><td>NORTH PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>253 Walcott St (Cnr Fitzgerald St) </td><td>NORTH PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>6 Marina Bvd (Cnr Marmion Ave) </td><td>OCEAN REEF </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>218 Main St (Cnr Royal St) </td><td>OSBORNE PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>157 Lord St </td><td>PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>480 William St </td><td>PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>342 Beaufort St (Cnr Bulwer St) </td><td>PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>74 Scarborough Beach Rd </td><td>SCARBOROUGH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>205 West Coast Hwy </td><td>SCARBOROUGH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>194 Rokeby Rd </td><td>SUBIACO </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>1 Niche Pde </td><td>WANGARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>79 Buckingham Dr (Cnr Hartman Dr) </td><td>WANGARA </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>621 Wanneroo Rd </td><td>WANNEROO </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>274 Erindale Rd </td><td>WARWICK </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>337 Cambridge St </td><td>WEMBLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Coles Express </td><td>30 Thomas St (Cnr Wellington St) </td><td>WEST PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>6639 West Swan Rd </td><td>WEST SWAN </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>436 Wanneroo Rd </td><td>WESTMINSTER </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Caltex </td><td>1 Morwell St </td><td>YANCHEP </td><td>today</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>Shell </td><td>Cnr Marmion Av & Santorini Dr </td><td>ALKIMOS </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>53 Erindale Rd </td><td>BALCATTA </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>261 Eddystone Ave </td><td>BELDON </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>19 Coolibah Dr </td><td>GREENWOOD </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>1520 Gnangara Rd </td><td>HENLEY BROOK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>360 Anchorage Dr N (Cnr Marmion Ave) </td><td>MINDARIE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>109.9 </td><td>BP </td><td>101 Dampier Av </td><td>MULLALOO </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>28K Caloundra Rd </td><td>CLARKSON </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>2 Sunlander Dr (Cnr Burns Beach Rd) </td><td>CURRAMBINE </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>68-70 Brown St (Cnr East Pde) </td><td>EAST PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>2 Abello Bvd (Cnr Marmion Ave) </td><td>JINDALEE </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>129 Stirling Hwy </td><td>NEDLANDS </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>40 Benara Rd </td><td>NORANDA </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>2 Prendiville Ave (Cnr Marmion Ave) </td><td>OCEAN REEF </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>2 Warburton Ave (Cnr Marmion Ave) </td><td>PADBURY </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>2 Ridgewood Bvd (Cnr Hester Ave) </td><td>RIDGEWOOD </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>11 Scarborough Beach Rd (Cnr West Coast Hwy) </td><td>SCARBOROUGH </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>128 West Coast Dr </td><td>SORRENTO </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>240 Cambridge St </td><td>WEMBLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>110.9 </td><td>BP </td><td>941 Whitfords Ave (Cnr Trappers Dr) </td><td>WOODVALE </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.7 </td><td>Better Choice </td><td>21 Edgewater Dr </td><td>EDGEWATER </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.7 </td><td>Better Choice </td><td>150 Wanneroo Rd </td><td>TUART HILL </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.7 </td><td>Better Choice </td><td>21 Edgewater Dr </td><td>EDGEWATER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>111.9 </td><td>BP </td><td>2 The Gateway </td><td>EDGEWATER </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.9 </td><td>Kwikfuel </td><td>7 Hutton St </td><td>OSBORNE PARK </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.9 </td><td>BP </td><td>4 Wanneroo Rd </td><td>YOKINE </td><td>today</td>
            </tr>
        
            <tr>
                <td>111.9 </td><td>BP </td><td>2 The Gateway </td><td>EDGEWATER </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>111.9 </td><td>Kwikfuel </td><td>7 Hutton St </td><td>OSBORNE PARK </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>112 </td><td>Wesco </td><td>41 Angove St </td><td>NORTH PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>112 </td><td>Wesco </td><td>41 Angove St </td><td>NORTH PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>112.5 </td><td>Better Choice </td><td>3 Carson Rd (Cnr Alexander Dr) </td><td>MALAGA </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>Shell </td><td>Cnr Marmion Av & Santorini Dr </td><td>ALKIMOS </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>53 Erindale Rd </td><td>BALCATTA </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>261 Eddystone Ave </td><td>BELDON </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>19 Coolibah Dr </td><td>GREENWOOD </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>1520 Gnangara Rd </td><td>HENLEY BROOK </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>360 Anchorage Dr N (Cnr Marmion Ave) </td><td>MINDARIE </td><td>today</td>
            </tr>
        
            <tr>
                <td>113.9 </td><td>BP </td><td>101 Dampier Av </td><td>MULLALOO </td><td>today</td>
            </tr>
        
            <tr>
                <td>115.9 </td><td>BP </td><td>335 Walter Rd (Cnr Crimea St) </td><td>MORLEY </td><td>today</td>
            </tr>
        
            <tr>
                <td>115.9 </td><td>BP </td><td>335 Walter Rd (Cnr Crimea St) </td><td>MORLEY </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>117.4 </td><td>Liberty </td><td>17 Brisbane St (Cnr Pier St) </td><td>PERTH </td><td>today</td>
            </tr>
        
            <tr>
                <td>117.4 </td><td>Liberty </td><td>17 Brisbane St (Cnr Pier St) </td><td>PERTH </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>119.9 </td><td>Caltex </td><td>2624 Wanneroo Rd </td><td>NOWERGUP </td><td>today</td>
            </tr>
        
            <tr>
                <td>121.9 </td><td>United </td><td>2 Servetus St </td><td>SWANBOURNE </td><td>tomorrow</td>
            </tr>
        
            <tr>
                <td>126.9 </td><td>United </td><td>2 Servetus St </td><td>SWANBOURNE </td><td>today</td>
            </tr>
        </table></tbody></body></html>